In [14]:
import pandas as pd

In [15]:
ind_fam = pd.read_csv('cleaned_ind_fam.csv').drop(columns = 'Unnamed: 0')
ind_fam

         post_date   industry                    job_family  ind_family_count
0       2020-03-01   Services                    Unassigned            1.0000
1       2020-03-01   Services              Customer Service            1.0000
2       2020-03-01   Services  Entertainment and Recreation            1.0000
3       2020-03-01   Services             Facilities/Constr            1.0000
4       2020-03-01   Services             Finance/Insurance            1.0000
...            ...        ...                           ...               ...
162774  2021-09-20  Wholesale                         Sales            1.9490
162775  2021-09-20  Wholesale                      Security            7.7942
162776  2021-09-20  Wholesale                Skilled Trades            2.5048
162777  2021-09-20  Wholesale            Supply Chain Staff            2.4621
162778  2021-09-20  Wholesale                    Unassigned            0.4777

[162779 rows x 4 columns]

In [16]:
ind_fam['industry'].unique()

array(['Services', 'Communication', 'Construction', 'Energy',
       'Entertainment', 'Financial Services', 'Healthcare', 'Hospitality',
       'Insurance', 'Manufacturing', 'Mining', 'Real Estate', 'Retail',
       'Transportation', 'Wholesale'], dtype=object)

In [4]:
fam_role = pd.read_csv('cleaned_fam_role.csv').drop(columns = 'Unnamed: 0').rename(columns={'count_id_indexed':'family_role_count'})
fam_role

,post_date,job_family,role,family_role_count
0,2020-03-01,Healthcare,EXCUDE,1.0000
1,2020-03-01,Customer Service,Call Center Manager,1.0000
2,2020-03-01,Customer Service,Customer Service Manager,1.0000
3,2020-03-01,Customer Service,Customer Service Representative,1.0000
4,2020-03-01,Customer Service,Customer Support Representative,1.0000
...,...,...,...,...
619914,2021-09-20,Unassigned,Project Coordinator,0.8639
619915,2021-09-20,Unassigned,Project Manager,0.5298
619916,2021-09-20,Unassigned,Shift Manager,2.5717
619917,2021-09-20,Unassigned,Team Member,0.1535
619918,2021-09-20,Unassigned,Vice president,0.4040

In [5]:
fam_role_ind = fam_role.merge(ind_fam, how='left', on = ['post_date', 'job_family'])

In [13]:
fam_role_ind['industry'].unique()

array(['Services', 'Communication', 'Construction', 'Energy',
       'Entertainment', 'Financial Services', 'Healthcare', 'Hospitality',
       'Insurance', 'Manufacturing', 'Mining', 'Real Estate', 'Retail',
       'Transportation', 'Wholesale'], dtype=object)

In [10]:
fam_role_ind['job_family'].nunique()

18

In [11]:
fam_role_ind['role'].nunique()

1705

In [12]:
fam_role_ind['industry'].nunique()

15

In [20]:
fam_role_ind.isnull().sum()

post_date            0
job_family           0
role                 0
family_role_count    0
industry             0
ind_family_count     0
dtype: int64

In [17]:
geo_ind = pd.read_csv('cleaned_geo_ind.csv').drop(columns = 'Unnamed: 0')
geo_ind

         post_date state        industry  count_id_indexed
0       2020-03-01    AK   Communication            1.0000
1       2020-03-01    AK   Communication            1.0000
2       2020-03-01    AK    Construction            1.0000
3       2020-03-01    AK          Energy            1.0000
4       2020-03-01    AK   Entertainment            1.0000
...            ...   ...             ...               ...
546203  2021-09-20    WY     Real Estate            2.8571
546204  2021-09-20    WY          Retail            1.3936
546205  2021-09-20    WY        Services            1.4001
546206  2021-09-20    WY  Transportation            0.4458
546207  2021-09-20    WY       Wholesale            1.1872

[546208 rows x 4 columns]

In [18]:
geo_ind_fam = geo_ind.merge(ind_fam, how='left', on=['post_date', 'industry'])

In [22]:
geo_ind_fam['job_family'] = geo_ind_fam['job_family'].fillna(geo_ind_fam['job_family'].mode()[0])
geo_ind_fam['ind_family_count'] = geo_ind_fam['ind_family_count'].fillna(geo_ind_fam['ind_family_count'].mean())

In [23]:
geo_ind_fam.isnull().sum()

post_date           0
state               0
industry            0
count_id_indexed    0
job_family          0
ind_family_count    0
dtype: int64